<p id="notice"><%= notice %></p>

<p>
  <strong>Address 1:</strong>
  <%= @apt_listing.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @apt_listing.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @apt_listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apt_listing.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @apt_listing.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @apt_listing.country %>
</p>

<p>
  <strong>Manag name:</strong>
  <%= @apt_listing.manag_name %>
</p>

<p>
  <strong>Manag phone:</strong>
  <%= @apt_listing.manag_phone %>
</p>

<p>
  <strong>Manag contact hrs:</strong>
  <%= @apt_listing.manag_contact_hrs %>
</p>

<%= link_to 'Edit', edit_apt_listing_path(@apt_listing) %> |
<%= link_to 'Back', apt_listings_path %>
